In [1]:
## Read data and save relevant variables.

fn.data.cost <- "https://raw.githubusercontent.com/wilsongis/3DP_Experiments/main/Data/cr6_cost.txt"
fn.data.time <- "https://raw.githubusercontent.com/wilsongis/3DP_Experiments/main/Data/cr6_time.txt"
dfcost <- read.table(fn.data.cost, header=TRUE)
dftime <- read.table(fn.data.time, header=TRUE)

In [2]:
# reshape data into long format
library(reshape2)
df.cost <- melt(dfcost, id.vars = c("lh", "ps", "id", "wt", "rw", "alh", "aps", "aid", "awt", "arw"), variable.name = "rep", value.name = "cost")

df.time <- melt(dftime, id.vars = c("lh", "ps", "id", "wt", "rw", "alh", "aps", "aid", "awt", "arw"), variable.name = "rep", value.name = "time")

In [3]:
cost_lm <- lm(cost ~ (lh+ps+id+wt+rw)**2, data = df.cost)
time_lm <- lm(time ~ (lh+ps+id+wt+rw)**2, data = df.time)

In [4]:
summary(cost_lm)

Call:
lm(formula = cost ~ (lh + ps + id + wt + rw)^2, data = df.cost)

Residuals:
   Min     1Q Median     3Q    Max
-0.024  0.000  0.000  0.000  0.006

Coefficients:
             Estimate Std. Error  t value Pr(>|t|)
(Intercept)  0.531500   0.000375 1417.333  < 2e-16 ***
lh          -0.002250   0.000375   -6.000 1.01e-07 ***
ps           0.002250   0.000375    6.000 1.01e-07 ***
id          -0.001500   0.000375   -4.000 0.000167 ***
wt           0.013500   0.000375   36.000  < 2e-16 ***
rw          -0.004000   0.000375  -10.667 7.80e-16 ***
lh:ps        0.001000   0.000375    2.667 0.009690 **
lh:id        0.002250   0.000375    6.000 1.01e-07 ***
lh:wt        0.002250   0.000375    6.000 1.01e-07 ***
lh:rw        0.002250   0.000375    6.000 1.01e-07 ***
ps:id       -0.002250   0.000375   -6.000 1.01e-07 ***
ps:wt       -0.002250   0.000375   -6.000 1.01e-07 ***
ps:rw       -0.002250   0.000375   -6.000 1.01e-07 ***
id:wt       -0.003500   0.000375   -9.333 1.49e-13 ***
id:rw       -0.006000   0.000375  -16.000  < 2e-16 ***
wt:rw        0.009000   0.000375   24.000  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.003354 on 64 degrees of freedom
Multiple R-squared:  0.9763,	Adjusted R-squared:  0.9708
F-statistic:   176 on 15 and 64 DF,  p-value: < 2.2e-16

In [5]:
cost_steps = step(cost_lm,direction="both")

Start:  AIC=-897.46
cost ~ (lh + ps + id + wt + rw)^2

        Df Sum of Sq      RSS     AIC
<none>               0.000720 -897.46
- lh:ps  1  0.000080 0.000800 -891.03
- lh:rw  1  0.000405 0.001125 -863.76
- ps:id  1  0.000405 0.001125 -863.76
- ps:wt  1  0.000405 0.001125 -863.76
- lh:id  1  0.000405 0.001125 -863.76
- lh:wt  1  0.000405 0.001125 -863.76
- ps:rw  1  0.000405 0.001125 -863.76
- id:wt  1  0.000980 0.001700 -830.73
- id:rw  1  0.002880 0.003600 -770.71
- wt:rw  1  0.006480 0.007200 -715.26

In [6]:
anova(update(cost_steps,~1),cost_steps)

  Res.Df RSS     Df Sum of Sq F   Pr(>F)
1 79     0.03042 NA     NA     NA           NA
2 64     0.00072 15 0.0297    176 5.350082e-46

In [7]:
summary(cost_steps)

Call:
lm(formula = cost ~ (lh + ps + id + wt + rw)^2, data = df.cost)

Residuals:
   Min     1Q Median     3Q    Max
-0.024  0.000  0.000  0.000  0.006

Coefficients:
             Estimate Std. Error  t value Pr(>|t|)
(Intercept)  0.531500   0.000375 1417.333  < 2e-16 ***
lh          -0.002250   0.000375   -6.000 1.01e-07 ***
ps           0.002250   0.000375    6.000 1.01e-07 ***
id          -0.001500   0.000375   -4.000 0.000167 ***
wt           0.013500   0.000375   36.000  < 2e-16 ***
rw          -0.004000   0.000375  -10.667 7.80e-16 ***
lh:ps        0.001000   0.000375    2.667 0.009690 **
lh:id        0.002250   0.000375    6.000 1.01e-07 ***
lh:wt        0.002250   0.000375    6.000 1.01e-07 ***
lh:rw        0.002250   0.000375    6.000 1.01e-07 ***
ps:id       -0.002250   0.000375   -6.000 1.01e-07 ***
ps:wt       -0.002250   0.000375   -6.000 1.01e-07 ***
ps:rw       -0.002250   0.000375   -6.000 1.01e-07 ***
id:wt       -0.003500   0.000375   -9.333 1.49e-13 ***
id:rw       -0.006000   0.000375  -16.000  < 2e-16 ***
wt:rw        0.009000   0.000375   24.000  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.003354 on 64 degrees of freedom
Multiple R-squared:  0.9763,	Adjusted R-squared:  0.9708
F-statistic:   176 on 15 and 64 DF,  p-value: < 2.2e-16

### Cost Equation

```sh
Cost = .5315 - .002250*alh + .002250*aps - .001500*aid + .013500*awt - .004000*arw + .001*alh*aps + .002250*alh*aid + .002250*alh*awt + .002250*alh*arw - .002250*aps*aid - .002250*aps*awt - .002250*aps*arw - .003500*aid*awt - .006000*aid*arw + .009*awt*arw
```

```sh
Cost = .5315 - .002250*x[1] + .002250*x[2] - .001500*x[3] + .013500*x[4] - .004000*x[5] + .001*x[1]*x[2] + .002250*x[1]*x[3] + .002250*x[1]*x[4] + .002250*x[1]*x[5] - .002250*x[2]*x[3] - .002250*x[2]*x[4] - .002250*x[2]*x[5] - .003500*x[3]*x[4] - .006000*x[3]*x[5] + .009*x[4]*x[5]
```

In [8]:
summary(time_lm)

Call:
lm(formula = time ~ (lh + ps + id + wt + rw)^2, data = df.time)

Residuals:
    Min      1Q  Median      3Q     Max
-6370.6   -86.3    -0.7    27.7 25359.4

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 13131.87     399.51  32.870  < 2e-16 ***
lh          -2415.95     399.51  -6.047 8.41e-08 ***
ps             70.95     399.51   0.178 0.859603
id           -471.45     399.51  -1.180 0.242337
wt            363.97     399.51   0.911 0.365683
rw            148.50     399.51   0.372 0.711339
lh:ps       -1509.62     399.51  -3.779 0.000348 ***
lh:id        -649.18     399.51  -1.625 0.109091
lh:wt       -1479.35     399.51  -3.703 0.000446 ***
lh:rw        -700.03     399.51  -1.752 0.084526 .
ps:id        -426.47     399.51  -1.068 0.289756
ps:wt         313.35     399.51   0.784 0.435734
ps:rw        1519.67     399.51   3.804 0.000321 ***
id:wt        -409.30     399.51  -1.025 0.309451
id:rw         570.68     399.51   1.428 0.158026
wt:rw        1435.95     399.51   3.594 0.000633 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 3573 on 64 degrees of freedom
Multiple R-squared:  0.6211,	Adjusted R-squared:  0.5323
F-statistic: 6.993 on 15 and 64 DF,  p-value: 1.106e-08

In [9]:
time_steps = step(time_lm,direction="both")

Start:  AIC=1323.15
time ~ (lh + ps + id + wt + rw)^2

        Df Sum of Sq        RSS    AIC
- ps:wt  1   7855058  825040746 1321.9
- id:wt  1  13402119  830587808 1322.5
- ps:id  1  14550474  831736162 1322.6
<none>                817185688 1323.2
- id:rw  1  26053596  843239285 1323.7
- lh:id  1  33714254  850899943 1324.4
- lh:rw  1  39202800  856388488 1324.9
- wt:rw  1 164956192  982141881 1335.9
- lh:wt  1 175078114  992263802 1336.7
- lh:ps  1 182317411  999503100 1337.3
- ps:rw  1 184752968 1001938657 1337.5

Step:  AIC=1321.91
time ~ lh + ps + id + wt + rw + lh:ps + lh:id + lh:wt + lh:rw +
    ps:id + ps:rw + id:wt + id:rw + wt:rw

        Df Sum of Sq        RSS    AIC
- id:wt  1  13402119  838442865 1321.2
- ps:id  1  14550474  839591220 1321.3
<none>                825040746 1321.9
- id:rw  1  26053596  851094343 1322.4
- lh:id  1  33714254  858755001 1323.1
+ ps:wt  1   7855058  817185688 1323.2
- lh:rw  1  39202800  864243546 1323.6
- wt:rw  1 164956192  989996938 1334.5
- lh:wt  1 175078114 1000118860 1335.3
- lh:ps  1 182317411 1007358157 1335.9
- ps:rw  1 184752968 1009793715 1336.1

Step:  AIC=1321.2
time ~ lh + ps + id + wt + rw + lh:ps + lh:id + lh:wt + lh:rw +
    ps:id + ps:rw + id:rw + wt:rw

        Df Sum of Sq        RSS    AIC
- ps:id  1  14550474  852993339 1320.6
<none>                838442865 1321.2
- id:rw  1  26053596  864496462 1321.7
+ id:wt  1  13402119  825040746 1321.9
- lh:id  1  33714254  872157120 1322.4
+ ps:wt  1   7855058  830587808 1322.5
- lh:rw  1  39202800  877645665 1322.9
- wt:rw  1 164956192 1003399058 1333.6
- lh:wt  1 175078114 1013520979 1334.4
- lh:ps  1 182317411 1020760277 1334.9
- ps:rw  1 184752968 1023195834 1335.1

Step:  AIC=1320.58
time ~ lh + ps + id + wt + rw + lh:ps + lh:id + lh:wt + lh:rw +
    ps:rw + id:rw + wt:rw

        Df Sum of Sq        RSS    AIC
<none>                852993339 1320.6
- id:rw  1  26053596  879046936 1321.0
+ ps:id  1  14550474  838442865 1321.2
+ id:wt  1  13402119  839591220 1321.3
- lh:id  1  33714254  886707594 1321.7
+ ps:wt  1   7855058  845138282 1321.8
- lh:rw  1  39202800  892196139 1322.2
- wt:rw  1 164956192 1017949532 1332.7
- lh:wt  1 175078114 1028071453 1333.5
- lh:ps  1 182317411 1035310751 1334.1
- ps:rw  1 184752968 1037746308 1334.3

In [10]:
anova(update(time_steps,~1),time_steps)

  Res.Df RSS        Df Sum of Sq  F        Pr(>F)
1 79     2156560153 NA         NA       NA           NA
2 67      852993339 12 1303566813 8.532597 1.532647e-09

In [11]:
summary(time_steps)

Call:
lm(formula = time ~ lh + ps + id + wt + rw + lh:ps + lh:id +
    lh:wt + lh:rw + ps:rw + id:rw + wt:rw, data = df.time)

Residuals:
    Min      1Q  Median      3Q     Max
-5221.5  -541.3  -328.8  -257.3 26508.5

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 13131.87     398.92  32.918  < 2e-16 ***
lh          -2415.95     398.92  -6.056 7.08e-08 ***
ps             70.95     398.92   0.178 0.859375
id           -471.45     398.92  -1.182 0.241461
wt            363.97     398.92   0.912 0.364834
rw            148.50     398.92   0.372 0.710881
lh:ps       -1509.62     398.92  -3.784 0.000332 ***
lh:id        -649.17     398.92  -1.627 0.108365
lh:wt       -1479.35     398.92  -3.708 0.000426 ***
lh:rw        -700.03     398.92  -1.755 0.083868 .
ps:rw        1519.68     398.92   3.809 0.000305 ***
id:rw         570.68     398.92   1.431 0.157211
wt:rw        1435.95     398.92   3.600 0.000606 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 3568 on 67 degrees of freedom
Multiple R-squared:  0.6045,	Adjusted R-squared:  0.5336
F-statistic: 8.533 on 12 and 67 DF,  p-value: 1.533e-09


```sh
time = -129539.2 + 208852.5*alh + 2640.9*aps - 95244.7*aid + 64840.0*awt + 80131.6*arw -  5032.1*alh*aps + 216391.7*alh*awt - 123279.2*alh*awt + 58335.4*alh*arw - 1519.7*aps*arw + 57067.5*aid*arw - 35898.7*awt*arw
```


```
time= 13131.87 - 2415.95*x[1] + 70.95*x[2] - 471.45*x[3] + 363.97*x[4] + 145.5*x[5] -  1509.62*x[1]*x[2] - 649.17*x[1]*x[3] - 1479.35*x[1]*x[4] - 700.03*x[1]*x[5] + 1519.68*x[2]*x[5] + 570.68*x[3]*x[5] + 1435.95*x[4]*x[5]
```